body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 75%;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 65%;
  }
}
